APP_NAME=Xeno
APP_URL=http://localhost
APP_ENV=development
APP_KEY=
APP_DEBUG=true

# Database (default MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=xenophp
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

#SMTP config for mail sending
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=xeno@example.com
SMTP_PASSWORD=
SMTP_NAME=Xeno
SMTP_FROM=xeno@example.com

# files upload
UPLOAD_DIR=uploads

